<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/pintuer.js}"></script>
</head>

<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-key"></span> 教师信息</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="" th:action="@{/addtea}">

<!--            需要区分是修改还是添加-->
<!--            发送put请求修改信息
                创建一个input项，name="_method",值就是指定的请求的方式
-->
            <p class="text-center" style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
            <input type="hidden" name="_method" value="put" th:if="${teacher!=null}" />
            <div class="form-group">
                <div class="label">
                    <label for="sitename">教职工号：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="tea_id" name="tea_id" size="50" placeholder="请输入教职工号"
                           data-validate="required:请输入教职工号" th:value="${teacher!=null}?${teacher.tea_id}"/>
                    <input type="hidden" name="role" value="教师">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">教师姓名：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="tea_name" size="50" placeholder="请输入教师姓名"
                           data-validate="required:请输入教师姓名" th:value="${teacher!=null}?${teacher.tea_name}"/>
                </div>
            </div>

            <ul class="list-inline" style="padding-left: 58px;  padding-bottom: 25px;">
                <li>性别：</li>
                <li style="padding-left:0px;">
                    <div class="field">
                        <input name="tea_sex" id="tea_sex" type="radio" value="女" th:checked="${teacher!=null}?${teacher.tea_sex=='女'}"/>女
                        <input name="tea_sex" id="tea_sex" type="radio" value="男" th:checked="${teacher!=null}?${teacher.tea_sex=='男'}"/>男
                    </div>
                </li>
            </ul>

            <div class="form-group">
                <div class="label">
                    <label for="sitename">所在院系：</label>
                </div>

                <div class="field">
                    <select name="tea_college" class="input" style="width: 25%;">
                        <!--提交的是学院的id-->
                        <option th:selected="${teacher!=null}?${collegeList.college_id==teacher.tea_college}" th:value="${collegeList.college_id}" th:each="collegeList:${collegeList}"
                                th:text="${collegeList.college_name}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

</html>