<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/pintuer.css}"></link>
		<link rel="stylesheet" th:href="@{/css/admin.css}"></link>
		<script th:src="@{/js/jquery.js}"></script>
		<script th:src="@{/js/pintuer.js}"></script>
	</head>

	<body>
		<div class="panel admin-panel">
			<div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>个人信息</strong></div>
			<div class="body-content">
				<form method="get" class="form-x" th:action="@{/showstuinfo}">
					<div style="padding-left:20px ;padding-bottom: 20px;">
						<label>【基本信息】</label><br><br>
						<ul class="list-inline" style="padding-left: 65px;  padding-bottom: 25px;">
							<li>学号:</li>
							<li style="padding-right: 200px;">
								<div class="field">
                                    <td>[[${stu.stu_id}]]</td>
								</div>
							</li>
							<li>姓名:</li>
							<li style="padding-right: 200px;">
								<div class="field">
                                    <td>[[${stu.stu_name}]]</td>
								</div>
							</li>
						</ul>
						<ul class="list-inline" style="padding-left: 65px;  padding-bottom: 25px;">
							<li>性别:</li>
							<li style="padding-right: 200px;">
								<div class="field">
                                    <td>[[${stu.stu_sex}]]</td>
								</div>
							</li>
						</ul>
						<ul class="list-inline" style="padding-left: 40px;  padding-bottom: 25px;">
							<li>出生年月:</li>
							<li style="padding-right: 200px;">
								<div class="field">
                                    <td>[[${stu.stu_birth}]]</td>
								</div>
							</li>
						</ul>
						<ul class="list-inline" style="padding-left: 65px;  padding-bottom: 25px;">
							<li>院系:</li>
							<li style="padding-right: 200px;">
								<div class="field">
                                    <td>[[${stu.stu_collegename}]]</td>
								</div>
							</li>
						</ul>
						<ul class="list-inline" style="padding-left: 65px;  padding-bottom: 25px;">
							<li>专业:</li>
							<li style="padding-right: 200px;">
								<div class="field">
                                    <td>[[${stu.stu_subjectname}]]</td>
								</div>
							</li>
							<li>班级：</li>
							<li style="padding-right:200px;">
								<div class="field">
                                    <td>[[${stu.stu_class}]]</td>
								</div>
							</li>
						</ul>
						<ul class="list-inline" style="padding-left: 40px;  padding-bottom: 25px;">
							<li>入学日期:</li>
							<li style="padding-right: 200px;">
								<div class="field">
									<td>[[${stu.intime}]]</td>
								</div>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>